@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@400;600&display=swap');

.authorization {
  height: 100%;
}

.authorization-form {
  background: linear-gradient(0, rgba(231, 255, 19, 0.466), rgba(167, 8, 8, 0.815));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authorization-p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: white;
  text-shadow: 0 0 5px rgb(44, 44, 44);
}

.form  {
  color: rgb(0, 0, 0);
  width: 400px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 20px;
}

.form-control {
  display: block;
  text-align: center;
  width: 80%;
  padding: 0.475rem 0;
  margin: 0 auto 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input::placeholder {
  font-size: 15px;
  color: #000;
}

.s-in-up {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  color: rgb(90, 90, 90);
  font-weight: 700;
}

hr {
  opacity: .75;
  margin: 30px 0 20px;
}

hr:not([size]) {
  width: 4%;
  height: 1px;
  background: #000;
}

.left {
  font-size: 16px;
  padding: 7px 15px;
}

.entrance {
  display: flex;
  justify-content: center;
  position: relative;
}

.entrance p, span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.entrance span {
  font-size: 16px;
  left: 10px;
  animation:rotate-scale-down 1s ease-in-out both;
  animation-delay: 15s;
}

@keyframes rotate-scale-down{0%{transform:scale(1) rotateZ(0)}50%{transform:scale(.5) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}
