@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@400;600&display=swap');

.authorization {
  height: 100%;
}

.authorization-form {
  background: linear-gradient(0, rgba(231, 255, 19, 0.466), rgba(167, 8, 8, 0.815));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form  {
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 400px;
  font-family: 'Josefin Sans', sans-serif;
}

.authorization-p {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.sign {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 18px;
}

.s-in, .s-up {
  cursor: pointer;
  color: rgb(90, 90, 90);
  font-weight: 700;
  position: relative;
  transition: .5s;
}

.s-in {
  left: 10px;
  padding: 0;
}

.s-up {
  left: 10px;
}

.s-in:hover, .s-up:hover {
  color: rgb(0, 0, 0);
}

.left {
  margin: 0 109px;
  font-size: 18px;
}

.entrance {
  display: flex;  
  justify-content: center;
  margin: 20px 0 0;
}

.entrance p, span {
  font-size: 18px;
}