@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@400;600&display=swap');

.authorization {
  height: 100%;
}

.authorization-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form  {
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 400px;
  font-family: 'Josefin Sans', sans-serif;
}

.sign {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 18px;
}

.s-in, .s-up {
  cursor: pointer;
  color: rgb(90, 90, 90);
  font-weight: 700;
  position: relative;
  transition: .5s;
}

.s-in {
  right: 100px;
}

.s-up {
  left: 100px;
}

.s-in:hover, .s-up:hover {
  color: rgb(0, 0, 0);
}