@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Poppins:wght@100;400;700&display=swap');

.modal-main {
  width: 570px;
  padding: 10px;
  background: linear-gradient(40deg, #000, rgb(54, 54, 54) );
  border-radius: 5px;
  border: 1px solid rgb(42, 42, 42);
  position: relative;
  box-shadow: 0 0 40px rgb(26, 25, 25);
}

.modal-title {
  font-weight: 600;
  margin: 10px 20px 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.modal-done {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(250, 246, 246);
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 0px;
  font-weight: 500;
  
}

.modal-elements {
  justify-content: space-between;
  position: relative;
  top: 10px;
  margin: 32px 0;
}

.modal-input1 {
  display: block;
  width: 65%;
  padding: 0.475rem 0 0.475rem 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: none;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,  box-shadow .15s ease-in-out;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  color: #fff;
}

.modal-input2 {
  display: block;
  width: 30%;
  padding: 0.475rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: none;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  color: rgb(141, 137, 137);
}

.modal-input2::placeholder, .modal-input1::placeholder {
  color: gray;
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 40px 0;
  top: 40px;
}

.btn-hancel {
  margin-right: 5px;
}

.modal-item {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  margin: 5px 10px;
  letter-spacing: 0.8px;
  background: rgb(26, 26, 26);
  border-radius: 10px;
  cursor: pointer;
  word-break: break-all;
}

.modal-item:last-child::before {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 40%;
  background: rgb(42, 42, 42);
  position: relative;
  top: 70px;
}